In [64]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [3]:
doors = np.array(['Car', 'Goat 1', 'Goat 2'])
doors

array(['Car', 'Goat 1', 'Goat 2'], dtype='<U6')

In [4]:
goats = np.array(['Goat 1', 'Goat 2'])
goats

array(['Goat 1', 'Goat 2'], dtype='<U6')

In [5]:
def is_goat(door_name):
    if door_name == 'Goat 1':
        return True
    elif door_name == 'Goat 2':
        return True
    else:
        return False

In [6]:
def other_one(x, a_b):
    if x == a_b.item(0):
        return a_b.item(1)
    elif x == a_b.item(1):
        return a_b.item(0)
    else:
        return 'Input Now Valid'

In [11]:
def monty_hall():
    # return an array of [original choice, what Monty throws out, what remains]
    original = np.random.choice(doors)
    
    if is_goat(original):
        return np.array([original, other_one(original, goats), 'Car'])
    else:
        throw_out = np.random.choice(goats)
        return np.array([original, throw_out, other_one(throw_out, goats)])

In [16]:
monty_hall()

array(['Car', 'Goat 1', 'Goat 2'], dtype='<U6')

In [51]:
original = np.array([])
throw_out = np.array([])
remains = np.array([])

In [52]:
num_repetitions = 1000

for i in np.arange(num_repetitions):
    result = monty_hall()
    
    original = np.append(original, result.item(0))
    throw_out = np.append(throw_out, result.item(1))
    remains = np.append(remains, result.item(2))

In [56]:
df = pd.DataFrame(index = range(0, 1000))

In [58]:
df['Original Door Choice'] = original
df['Month Throws Out'] = throw_out
df['Remaining Door'] = remains
df.head()

  Original Door Choice Month Throws Out Remaining Door
0                  Car           Goat 1         Goat 2
1               Goat 1           Goat 2            Car
2               Goat 1           Goat 2            Car
3                  Car           Goat 2         Goat 1
4               Goat 2           Goat 1            Car

In [68]:
results_o = df['Original Door Choice'].value_counts()
results_o

Goat 1    36
Car       35
Goat 2    29
Name: Original Door Choice, dtype: int64

In [69]:
results_r = df['Remaining Door'].value_counts()
results_r

Car       65
Goat 2    19
Goat 1    16
Name: Remaining Door, dtype: int64

In [91]:
df2 = pd.DataFrame(index = ['Car', 'Goat 1', 'Goat 2'])
df2['Original Door'] = results_o
df2['Remaining Door'] = results_r
df2

        Original Door  Remaining Door
Car                35              65
Goat 1             36              16
Goat 2             29              19

In [92]:
sns.countplot(x = 'Car', data = df2)

ValueError: Could not interpret input 'Car'